!!! 5
%html
  %head
    %title Сервис «Кайсы такси?». Показывает лучшее такси для выбранного маршрута.
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=no"}
    %meta(charset="utf-8")
    :css
      html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    %script{type:"text/javascript", src:"http://maps.googleapis.com/maps/api/js?sensor=false"}
    :javascript
      function initialize() {
        var latlng = new google.maps.LatLng(42.830022, 74.587883);
        var myOptions = {
          zoom: 13,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      }

  %body{onload:"initialize()"}
    #map_canvas
    = yield
